body {
  background-color: #CAD5E2;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  color: #CAD5E2;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.icon {
  font-size: 35px;
  color: #ffffff;
}

Button:focus {
  background-color:yellow; 
}